.nav-color{
  background: #563d7c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #cbbde2;
}
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  ul{
    
    list-style-type: none; 
  }

  .side-bar{
    margin-top: 20px;
    color: #99979c;
  }

  .side-bar-li{
    margin-bottom: 10px;
  }

  .side-bar-link{
    color: #99979c;
  }

  .vl {
    border-left: 1px solid #d2d1d3;
    border-radius: 0.2px;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
  }