{% extends "layout.html" %}
{% block content %}
    
    {% if session.get('login_type') == 'Manager' %}
        <div class="container">
            <div class="row">
                <div class="col-10">
                    {% if jobs == None %}
                        <article class="media content-section">
                            <div class="media-body">
                                <h2>You have not posted any jobs!</h2>
                            </div>
                        </article>
                    {% else %}
                        {% for job in jobs %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 card-container">
                                    <div class="card-flip">
                                        <div class="card front contents">
                                            <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                            </p>
                                            <hr>
                                            <p class="card-content">{{ job.job_description }}</p>
                                            <p class="card-content"><b>Location:</b> {{ job.job_location }}</p>
                                            <p class="card-content"><b>Designation:</b> {{ job.designation }}</p>
                                        </div>
                                        <div class="card back">
                                            <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                            </p>
                                            <hr>
                                            <p class="card-content"><b>Skills Required:</b> {{job.skills }}</p>
                                            <p class="card-content"><b>Schedule: </b> {{ job.schedule }} hours</p>
                                            <p class="card-content"><b>Salary: </b> {{ job.salary }}</p>
                                            <p class="card-content"><b>Rewards: </b> {{ job.rewards }}</p>
                                            <button type="button " class="btn btn-outline-dark" style="max-width:100px; margin:5px;"><a style="color:inherit" href="{{url_for('jobDetails',job_id=job._id)}}">View Job</a></button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                         
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-2">
                    <div class="vl"></div>
                    <ul class="side-bar">
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('posting') }}">Create new Job</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('dummy') }}">Job Status</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('dummy') }}">Update Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-10">
                    {% if jobs == None %}
                        <article class="media content-section">
                            <div class="media-body">
                                <h2><a class="article-title" href="#">There are no jobs Available!</a></h2>
                            </div>
                        </article>
                    {% else %}
                        <h3>Jobs Available</h3><br>
                        {% for job in jobs %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 card-container">
                                        <div class="card-flip">
                                            <div class="card front contents">
                                                <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                                </p>
                                                <hr>
                                                <p class="card-content">{{ job.job_description }}</p>
                                                <p class="card-content"><b>Location:</b> {{ job.job_location }}</p>
                                                <p class="card-content"><b>Designation:</b> {{ job.designation }}</p>
                                            </div>
                                            <div class="card back">
                                                <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                            </p>
                                            <hr>
                                            <p class="card-content"><b>Skills Required:</b> {{job.skills }}</p>
                                            <p class="card-content"><b>Schedule: </b> {{ job.schedule }} hours</p>
                                            <p class="card-content"><b>Salary: </b> {{ job.salary }}</p>
                                            <p class="card-content"><b>Rewards: </b> {{ job.rewards }}</p>
                                            <p class="card-content"><b>Rewards: </b> {{ job.selected }}</p>
                                            {% if job.selected is none %}
                                                <button class="btn btn-outline-dark" type="button" style="max-width: 350px; margin:10px;"><a style="color:inherit;" href="{{url_for('jobDetails',job_id = job._id)}}">Apply for this position</a></button>
                                            {% else %}
                                                <p class ="card-content" style="color:green">Applicant already selected!</p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-2">
                    <div class="vl"></div>
                    <ul class="side-bar">
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('jobsApplied') }}">Status</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('dummy') }}">Guidelines</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('dummy') }}">Update Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

