{% extends "layout.html" %}
{% block content %}

    {% if session.get('login_type') == 'Manager' %}
        <div class="container">
            <div class="row">
                <div class="col-10">
                    {% if jobs == None %}
                        <article class="media content-section">
                            <div class="media-body">
                                <h2><a class="article-title" href="#">You have not posted any jobs!</a></h2>
                            </div>
                        </article>
                    {% else %}
                        {% for job in jobs %}
                            <article class="media content-section">
                                <div class="media-body">
                                    <div class="article-metadata">
                                    <small class="text-muted">{{ job.time_posted }}</small>
                                    </div>
                                    <h2><a class="article-title" href="{{ url_for('jobDetails',job_id = job._id) }}">{{ job.job_title }}</a></h2>
                                    <p class="article-content">{{ job.job_description }}</p>
                                    <p class="article-content"><b>Location:</b> {{ job.job_location }}</p>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-2">
                    <a href = "{{ url_for('posting') }}">Create new Job</a>
                    <a href = "{{ url_for('posting') }}">Job Status</a>
                    <a href = "{{ url_for('posting') }}">Update Profile</a>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <div class="content-section">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <h2>{{ job.job_title }}</h2>
                                <br>
                                <div class="form-group">
                                    {{ form.apply_name.label(class="form-control-label") }}
                
                                    {% if form.apply_name.errors %}
                                        {{ form.apply_name(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.apply_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.apply_name(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.apply_phone.label(class="form-control-label") }}
                                    {% if form.apply_phone.errors %}
                                        {{ form.apply_phone(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.apply_phone.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.apply_phone(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.apply_address.label(class="form-control-label") }}
                                    {% if form.apply_address.errors %}
                                        {{ form.apply_address(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.apply_address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.apply_address(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.dob.label(class="form-control-label") }}
                                    {% if form.dob.errors %}
                                        {{ form.dob(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.dob.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.dob(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.skills.label(class="form-control-label") }}
                                    {% if form.skills.errors %}
                                        {{ form.skills(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.skills.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.skills(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.availability.label(class="form-control-label") }}
                                    {% if form.availability.errors %}
                                        {{ form.availability(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.availability.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.availability(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.schedule.label(class="form-control-label") }}
                                    {% if form.schedule.errors %}
                                        {{ form.schedule(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.schedule.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.schedule(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.signature.label(class="form-control-label") }}
                                    {% if form.signature.errors %}
                                        {{ form.signature(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.signature.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.signature(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-2">
                <div class="vl"></div>
                    <ul class="side-bar">
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('posting') }}">Status</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('posting') }}">Guidelines</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('posting') }}">Update Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

